<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>聊天窗口</title>

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/reset.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<div class="wrapper">
	<div class="container">
<!--        <div class="left">-->
<!--            <ul class="people" th:each="map:${conversations}">-->
<!--                <li class="person" data-chat="person1">-->
<!--                    <img th:src="${map.target.header}" class="mr-4 rounded-circle user-header" alt="" />-->
<!--                    <span class="name" th:utext="${map.target.name}">Thomas Bangalter</span>-->
<!--                    <span class="time" th:text="${#dates.format(map.conversation.createTime,'yyyy-MM-dd HH:mm:ss')}">2:09 PM</span>-->
<!--                    <span class="preview" th:utext="${map.conversation.content}">I was wondering...</span>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
        <div class="right">
            <div class="top"><span>To: <span class="name" th:text="${target.name}">Dog Woofson</span></span></div>
            <li th:each="map:${letters}">
                <div class="conversation-start">
                    <span th:text="${#dates.format(map.letter.createTime,'yyyy-MM-dd HH:mm:ss')}">Today, 6:48 AM</span>
                </div>
                <div class="bubble you" th:utext="${map.letter.content}" th:if="${map.fromUser.id!=meId||map.fromUser.role!=session.role}">
                    Hello,
                </div>
                <div class="bubble me" th:utext="${map.letter.content}" th:if="${map.fromUser.id!=meId||map.fromUser.role==session.role}">
                    Hello,
                </div>

            </li>
            <div class="write">
                <a href="javascript:;" class="write-link attach"></a>
                <input type="text" />
                <a href="javascript:;" class="write-link smiley"></a>
                <a href="javascript:;" class="write-link send"></a>
            </div>
        </div>
    </div>
</div>


</body>
</html>