<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ye.warehouse.dao.EquipmentMapper">
    <sql id="insert">
        equipment_status, equipment_category_id
    </sql>
    <sql id="select">
        equipment_id, equipment_status, equipment_category_id
    </sql>
    <insert id="insertEquipment" keyProperty="equipmentId">
        insert into equipment(equipment_status, equipment_category_id)
        values (#{equipmentStatus}, #{equipmentCategoryId})
    </insert>

    <select id="selectEquipment" resultType="com.ye.warehouse.entity.Equipment">
        select <include refid="select"></include>
        from equipment
        where equipment_id = #{id}
    </select>

    <update id="updateEquipmentStatus">
        update equipment
        set equipment_status = #{status}
        where equipment_id = #{id}
    </update>

    <select id="selectAllByEquipmentTypeId" resultType="com.ye.warehouse.entity.Equipment">
        select <include refid="select"></include>
        from equipment
        where equipment_status = #{status}
        <if test="id!=-1">
            and equipment_category_id = #{id}
        </if>
        limit #{offset}, #{limit}
    </select>

    <select id="selectEquipmentsCountByTypeId" resultType="java.lang.Integer">
        select count(*)
        from equipment
        where equipment_status = #{status}
        <if test="id!=-1">
            and equipment_category_id = #{id}
        </if>
    </select>


    <select id="selectAllByEquipmentStatus" resultType="com.ye.warehouse.entity.Equipment">
        select <include refid="select"></include>
        from equipment
        where equipment_status = #{status}
    </select>


</mapper>